server:
  port: 8089

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/micro_viaje
    username: postgres
    password: 1234
    driver-class-name: org.postgresql.Driver

  jpa:
      hibernate:
        ddl-auto: none
      show-sql: true
      properties:
        hibernate:
          dialect: org.hibernate.dialect.PostgreSQLDialect
  data:
    mongodb:
      uri: mongodb://localhost:27017/monopatin_db

groq:
  api-key: ${GROQ_API_KEY}
  base-url: https://api.groq.com/openai
  model: llama-3.1-8b-instant
  temperature: 0.3



