server:
  port: 8082

spring:
  application:
    name: gateway
  cloud:
    gateway:
      mvc:
        routes:
          - id: usuario-service
            uri: http://localhost:8081
            predicates:
              - Path=/api/usuarios/**