server:
  port: 8082

spring:
  application:
    name: gateway
  cloud:
    gateway:
      mvc:
        routes:
          - id: usuario-service
            uri: http://localhost:8081
            predicates:
              - Path=/api/usuarios/**
          - id: microservicio-monopatin
            uri: http://localhost:8085
            predicates:
              - Path=/api/monopatines/**
          - id: microservicio-administrador
            uri: http://localhost:8088
            predicates:
              - Path=/tarifa/**
          - id: microservicio-viajes
            uri: http://localhost:8083
            predicates:
              - Path=/viajes/**
          - id: microservicio-parada
            uri: http://localhost:8084
            predicates:
              - Path=/parada/**